<!doctype html>
<html>

<head>
    <title>DEMO DAY PROJECT</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="about.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Zen+Kaku+Gothic+New:wght@300;500&display=swap"
        rel="stylesheet">

</head>

<body>
    <div id="header">

        <div id="nav">
            <div id="logo">
                <img src="http://placekitten.com/g/100/100">
                <h1>Roam Around</h1>
            </div>

            <div id="navbar">

                <div class="login">
                    <a href="/signup" type="submit" class="slide_down">Home</a>
                    <a href="/signup" type="submit" class="slide_down">Signup</a>
                    <a href="/login" type="submit" class="slide_down">Login</a>
                    <a href="/logout" type="submit" class="slide_down">Logout</a>
                    <a href="/profile" type="submit" class="slide_down">Profile</a>
                    <a href="/about" type="submit" class="slide_down">About</a>

                </div>
            </div>
        </div>

    </div>


    <div id=content>

        <p>People have been moving around since they've been able, so why do we know so little about the incredibly
            fascinating distant past? Especially, when it informs so much of our present?

            A common saying is that history is written by the victors, and we see the terrible consequences of that; so
            much of what we're taught is Western history, Euro-centric, and often ignoring all else before destructive,
            widespread colonization.

            Grappling with this understanding became even more frustrating when I came to realize how difficult
            resources could be to come by. How little is taught to us, and how deeply one has to go searching to even
            find something that's considered "specialized" information--when it really shouldn't be. If it's even
            available and accessible.

            Instead of some dry relic of the past, we are due to rediscover our collective history, as a dynamic people
            who explored, traveled, and evolved, eventually bring us to where we are today.

            This project is a humble attempt to spark interest, and some conversation, as to who we are, what we know,
            and confront what we don't; maybe even questioning what we never have before.
        </p>
    </div>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!--the leaflet js will be loaded first-->
    <script src="main.js"></script>
</body>

</html>