<!doctype html>
<html>
<head>
    <title>DEMO DAY PROJECT</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope&family=Zen+Kaku+Gothic+New:wght@300;500&display=swap" rel="stylesheet">

</head>
<body>
        <div id="header">
            <nav id="nav">
            <img src="http://placekitten.com/g/100/100">
                <div class="login">
                    <img src="" alt="">
                    <h1>Roam Around</h1>
                
                        <a href="/signup" type="submit" class="slide_down">Signup</a>
                        <a href="/login" type="submit" class="slide_down">Login</a>
                        <a href="/mission" type="submit" class="slide_down">Project Mission</a>

                    </form>
        
                </div>
            </nav>
        </div>

        <div id="info">
        <h3>A project centered on pre-colonial world history.</h3>
        <p>Use the map to freely explore various regions, and explore how people have explored the world.
            <br></br>
            Login to save items to your profile and reference later.


        </p>
        
      
   
        <div id=map>
   
        </div>

</div>

</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script> <!--the leaflet js will be loaded first-->
<script src="main.js"></script>
</body>
</html>
