<!doctype html>
<html>

<head>
    <title>DEMO DAY PROJECT</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Zen+Kaku+Gothic+New:wght@300;500&display=swap"
        rel="stylesheet">

</head>

<body>
    <div id="header">

        <div id="nav">
            <div id="logo">
                <img src="http://placekitten.com/g/100/100">
                <h1>Roam Around</h1>
            </div>

            <div id="navbar">

                <div class="login">
                    <a href="/" type="submit" class="slide_down">Home</a>
                    <a href="/signup" type="submit" class="slide_down">Signup</a>
                    <a href="/login" type="submit" class="slide_down">Login</a>
                    <a href="/logout" type="submit" class="slide_down">Logout</a>
                    <a href="/profile" type="submit" class="slide_down">Profile</a>
                    <a href="/about" type="submit" class="slide_down">About</a>

                </div>
            </div>
        </div>

    </div>

    <div id="info">
        <h3>A project centered on pre-colonial world history.</h3>
        <p>Explore the map, find articles and points of interest, learn something new.
            <br></br>
            Login to save items to your profile and reference later.


        </p>


        <div id=map>

        </div>

    </div>

    <div id="footer">

    <div id="contact">
        <span>Connect with me!</span>
        <a href="https://twitter.com/amacias__" id="twitterlogo" type="submit" class="slide_down"></a>
        <a href="https://www.linkedin.com/in/alexamacias192/" type="submit" class="slide_down"></a>
        <a href="https://alexa-macias.netlify.app/" type="submit" class="slide_down"></a>

    </div>

</div>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!--the leaflet js will be loaded first-->
    <script
        src="https://cdn.jsdelivr.net/npm/leaflet-polylinedecorator@1.6.0/dist/leaflet.polylineDecorator.min.js"></script>

    <script src="main.js"></script>
</body>

</html>