<!doctype html>
<html>
<head>
    <title>DEMO DAY PROJECT</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope&family=Zen+Kaku+Gothic+New:wght@300;500&display=swap" rel="stylesheet">

</head>
<body>
        <div id="header">
            <nav id="nav">
            <img src="http://placekitten.com/g/100/100">
                <p href="/mission">Project Mission</p>
                <p>Your profile</p>
                <div class="login">
                    <img src="" alt="">
                    <p>Create an account to save reference points on the map.</p>
                    <p>Login or Signup:</p>
                
                        <button href="/signup" type="submit" class="slide_down">Signup</button>
                        <button href="/login" type="submit" class="slide_down">Login</button>
                    </form>
        
                </div>
            </nav>
        </div>

        <div id="info">
        <h1>All in the past</h1>
        <h3><em>A project centered on pre-colonial world history.</em></h3>
      
   
        <div id=map>
   
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script> <!--the leaflet js will be loaded first-->
            <script src="main.js"></script>
            <p>Use the map to freely explore various regions, and scroll through the timeline to gain greater context and understanding of the events that shaped, influenced, and connected people and cultures.</p>
        </div>

</div>

</div>
</body>
</html>
