<!doctype html>
<html>

<head>
    <title>DEMO DAY PROJECT</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="loginstyle.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Zen+Kaku+Gothic+New:wght@300;500&display=swap"
        rel="stylesheet">

</head>

<body>
    <div id="nav">
        <div id="logo">
            <img src="http://placekitten.com/g/100/100">
            <h1>Roam Around</h1>
        </div>

        <div id="navbar">

            <div class="login">
                <a href="/" type="submit" class="slide_down">Home</a>
                <a href="/signup" type="submit" class="slide_down">Signup</a>
                <a href="/login" type="submit" class="slide_down">Login</a>
                <a href="/logout" type="submit" class="slide_down">Logout</a>
                <a href="/profile" type="submit" class="slide_down">Profile</a>
                <a href="/about" type="submit" class="slide_down">About</a>

            </div>
        </div>
    </div>
    </div>
    <div id="content">


            <% if (message.length> 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <button type="submit" class="slide_down">Login</button>
                    </form>

                    <hr>
                    <span>Lost?</span>
                    <a href="/signup">Signup</a></p>


    </div>
</body>

</html>