html {
  margin: none;
  box-sizing: border-box;
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%;
}

body{
  word-wrap:break-word;
  background: url("img/backgrounds/bg-05.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode:soft-light;
  background-color:  #264653;
  padding: 2em, 0, 0em, 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

#compass {
  max-width: 6em;
}

h1 {
  font-family: 'Spectral SC', serif;
  padding: 1%;
  font-size: 2.5em;
}

#header{
  padding-top: 1%;
  background-color: #192732;
  width: 80%;
  height: 15%;
  margin: auto;
}

#footer {
  background-color: #192732;
  width: 80%;
  height: 15%;
  margin: auto;
}

#nav {
  background-color: #192732;
  width: 80%;
  height: 15%;
  margin: auto;

}

#navbar {
  display: flex;
  justify-content: flex-end;
}

.slide_down {
  color: #264653;
  background-color: #fafaff;
  border: .1em solid #cc3363;
  border-radius: 0px;
  padding: .75em 1em;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 #cc3363;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
} */

a:visited {
  color: #cc3363;
}

a:hover {
  color: #264653;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #cc3363;
}

#nav {
  width: 80%;
  margin: auto;
}

#navbar {
  display: flex;
  justify-content: flex-end;
}


#logo {
  display: flex;
  color: white;
}


.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #cc3363;
}


#content {
  width: 80%;
  margin: auto;
  text-align: center;
  background: white;
  padding: 2em;
  border: .3em solid #cc3363;
  border-top: 1em solid #cc3363;

}

#login {
  width: 50%;
  margin: auto;
  text-align: center;
}

.form {
  width: 30%;
  margin: auto;
}