html {
  margin: none;
}

body{
  word-wrap:break-word;
  /*background: url("img/bg.jpg"); #12263A;*/
  background-color:  #264653;
  padding: 2em, 0, 0em, 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

#header {
  background-color: #232C33;
  width: 100%;
  color: white;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
button {
  color: #264653;
  border: .1em solid #cc3363;
  border-radius: 0px;
  padding: .75em 1em;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #cc3363;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #cc3363;
}

#nav {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 5em 1em 5em
}

#nav > p {
  justify-content: space-between;
  padding: 2em;
}

#nav > #login {
  float: right;
}

#info {
  width: 80%;
  margin: auto;
  text-align: center;
  background: white;
  padding: 3em;

}

#info > h1 {
  margin: none;
}

#map {
  margin: auto;
  height: 700px;
  width: 900px;
  padding: 2em;
}

#login {
  width: 50%;
  margin: auto;
  text-align: center;
}